.search {
  .card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: darkcyan !important;
    width: 200px !important;
    height: 200px !important;
  }
}
