.App {
  text-align: center;
  display: flex;
  flex-direction: row;

  .right-side {
    width: 100%;
    overflow-y: scroll;
    background: rgb(30, 30, 30);
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 1) 0%,
      rgba(18, 18, 18, 1) 100%
    );

    .App-header {
      // margin-left: 245px;
      //margin-bottom: 100px;
      width: calc(100vw - 350px);
      height: 70px;
      position: fixed;
      top: 0;
      z-index: 1000;

      .App-navbar {
        display: flex;
        justify-content: space-between;
        background-color: #101010;
        padding: 14px 30px;

        .prev-next-buttons button {
          color: #7a7a7a;
          cursor: not-allowed;
          width: 34px;
          height: 34px;
          border-radius: 100%;
          font-size: 18px;
          border: 0px;
          background-color: #090909;
          margin-right: 10px;
        }

        nav {
          display: flex;
          align-items: center;

          ul {
            list-style: none;

            li {
              display: inline-block;
              margin: 0px 8px;
              width: 70px;

              a {
                color: #b3b3b3;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 1px;

                &:hover,
                :focus,
                :active {
                  color: #ffffff;
                  font-size: 15px;
                }
              }

              .divider {
                color: #ffffff;
                font-size: 26px;
                margin: 0px 20px;
                width: auto;
              }
            }
          }

          button {
            background-color: #ffffff;
            color: #000000;
            font-size: 16px;
            font-weight: bold;
            padding: 14px 30px;
            border: 0px;
            border-radius: 40px;
            cursor: pointer;
            margin-left: 20px;

            &:hover,
            :focus,
            :active {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    main {
      height: calc(100vh - 100px);
      .empty-space {
        height: 80px;
        top: 0;
      }
    }
    .App-navbar * {
      z-index: 10;
    }
  }
}
